<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppName" value="晨曦常用工具集" />
		<add key="AppVersion" value="v3.0" />
		<add key="MongoDatabaseName" value="425AA8B1F8FA026DA5DCBE56E9F9478A" />
	</appSettings>
	<connectionStrings>
		<!-- mongodb://root:root@127.0.0.1:27017/Template -->
		<add name="MongoConnectionString" connectionString="DE67F135FC969C2DFC627C56987398A6C6E9FBDEEDB2F245AA2CFA6BBDF0FA11A163AFE7FB7C0C55B0F9A13990BF65B6" />
	</connectionStrings>
</configuration>